/* header{
    background-color: var(--main-color);
}

body{
    background-color: var(--fourth-color);
}

footer{
    background-color: var(--main-color);
} */

/*! Partie haute : img + text */

.text-img-container{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}
@media all and (max-width: 1920px) {
    .text-img-container{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media all and (max-width: 1460px) {
    .text-img-container{
        margin-left: 2%;
        margin-right: 4%;
    }
}
@media all and (max-width: 800px) {
    .text-img-container{
        margin-left: -2%;
        margin-right: 6%;
    }
}

.catalog-img{
    width: 40%;
    border-radius: 50px;
    margin-top: 4rem;
}
@media all and (max-width: 1920px) {
    .catalog-img{
        display: none;
    }
}

.catalog-text-title-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
    text-align: justify;
    justify-content: center;
}

.catalog-text-title{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.catalog-text{
    color: var(--main-color);
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.catalog-btn-show{
    color: var(--main-color);
    background-color: var(--fourth-color);
    text-decoration: none;
    width: 30%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

/*! Partie centre : filtre */

.filter-bar-container{
    display: flex;
    flex-direction: row;
    border-top: solid 2px var(--fifth-color);
    border-bottom: solid 2px var(--fifth-color);
    padding: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    position: sticky;
    top: -4px;
    z-index: 11;
    color: var(--main-color);
}

.filter-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.3rem;
    padding: .5rem;
    border-right: 2px solid var(--fifth-color);
    color: var(--main-color);
}
.filter-btn:hover{
    cursor: pointer;
}

#sortMenu{
    color: var(--main-color);
}

.filter-logo{
    width: 30px;
    margin-bottom: -.5rem;
    margin-left: .5rem;
    margin-right: 1.5rem;
}
.filter-logo:hover{
    cursor: pointer;
}

.sort-by-container

.sort-by-title{
    align-self: center;
    justify-self: unset;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.choice-text{
    font-size: 1rem;
    align-self: center;
    margin-left: 1rem;
    color: var(--main-color);
}

#sortMenu{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--main-color);
}

/*! Partie centre : filtre gauche */

.filter-left-and-cards-container{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%; 
    color: var(--main-color);
}

.filter-left-container{
    padding-left: 1rem;
    width: 25%;
    height: 100%;
    border-right: 2px solid var(--fifth-color);
    margin-bottom: 3rem;
    position: sticky;
    top: 7rem;
}
@media all and (max-width: 1200px) {
    .filter-left-container{
        border-right: none;
    }
}
@media all and (max-width: 920px) {
    .filter-left-container{
        margin-left: -5rem;
        margin-right: 6rem;
    }
}




.filter-left-origine{
    /* position: sticky;
    top: 9rem; */
}

.filter-left-caracteristic, .filter-left-disponibility{
    margin-top: 2rem;
    border-top: 2px solid var(--fifth-color);
    margin-right: 3rem;
    /* position: sticky;
    top: 13rem; */
}

.filter-left-title{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

.arrow-filter-left{
    width: .8rem;
    padding-left: 1rem;
}

.filter-left-section{
    display: flex;
    flex-direction: column;
}

.filter-checkbox-align{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

/*! Partie centre : cards */

.catalog-cards-container{
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    justify-items: center;
    margin-bottom: 1rem;
}
@media all and (max-width: 2220px) {
    .catalog-cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}




.catalog-card-link{
    text-decoration: none;
    color: var(--secondary-color);
}

.catalog-card{
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 300px;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 1rem;  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 2rem;
    height: 24rem;
}
.catalog-card:hover{
    position: relative;
    bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.32) 0px 15px 12px;
}

.card-container{
    display: flex;
    flex-direction: column;
    
}

.card-img{
    width: 90%;
    height: 200px;
    align-self: center;
    margin-top: 1rem;
    border-radius: 25px;
    border: 3px solid var(--third-color);
}

.card-title{
    font-size: 1.5rem;
    margin: 1rem;
}

.card-origine{
    margin: .5rem;
    margin-left: 1rem;
}

.card-carac{
    margin: .5rem;
    margin-left: 1rem;
}

.card-price{
    margin: .5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.card-disponibility, .card-date{
    display: none;
}




/*! A garder à la fin du scrypt !*/
.hidden{
    display: none;
}