.router-top-container{
    margin-top: 1.5rem;
    margin-left: 26rem;
}

.router-top{
    text-decoration: none;
    color: var(--main-color);
}

.router-arrow{
    width: .6rem;
    rotate: -90deg;
    margin-left: .3rem;
    margin-right: .3rem;
}

/*! Partie haute img + text */

.text-img-container{
    display: flex;
    flex-direction: row;
    margin-left: 26rem;
    margin-right: 26rem;
    margin-top: 1.5rem;
    align-items: center;
}

.catalog-img{
    width: 700px;
    height: 550px;
    border-radius: 50px;
    margin-top: 4rem;
}

.catalog-text-title-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
    text-align: justify;
    justify-content: center;
}

.catalog-text-title{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.catalog-text{
    color: var(--main-color);
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.catalog-btn-show{
    color: var(--main-color);
    background-color: var(--fourth-color);
    text-decoration: none;
    width: 30%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

/*! Partie basse filtre */

.filter-bar-container{
    display: flex;
    flex-direction: row;
    border-top: solid 1px rgb(126, 116, 116);
    border-bottom: solid 1px rgb(126, 116, 116);
    padding: 1rem;
    margin-left: 26rem;
    margin-right: 26rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.filter-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.3rem;
    padding: .5rem;
    border-right: 1px solid rgb(126, 116, 116);
}
.filter-btn:hover{
    cursor: pointer;
}

.filter-logo{
    width: 30px;
    margin-bottom: -.5rem;
    margin-left: .5rem;
}
.filter-logo:hover{
    cursor: pointer;
}