header{
    width: 100%;
    margin-top: 0rem;
    background-color: var(--fourth-color);
    background-image: url("../images/images-background/planche.jpg");
    background-size: 100%;    
    position: fixed;
    z-index: 10;
}

/*! Partie titre & logo !*/

.header-container-with-menu{
   width: 100%; 
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo-oCoffee{
    width: 3rem; 
    background-color: var(--third-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;  
    margin: .5rem;
    margin-left: 1rem;
}

.header-title-oCoffee{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
}

/*! Partie searchbar & menu*/

.searchbar-and-menu-container{
    display: flex;
    flex-direction: row;
    align-items: center
}

/*! Partie searchbar & responsive !*/

@media all and (max-width: 767px) {
    .header-searchbar-container{
        display: none;
    }
}

@media all and (min-width: 767px) {
    .header-searchbar-container{
        display: flex;
        margin-right: -3rem;
    }
    .header-searchbar{
        width: 20rem;
        height: 2rem;
        margin-right: 4rem;
        background-color: var(--secondary-color);
        border-radius: 25px;
        border: 1px solid var(--main-color);
        text-indent: 10px;
        font-size: 1rem;
    }
    .header-searchbar:focus{
        outline: none;
    } 
    .header-searchbar::placeholder {
        text-indent: 10px;
    }
    .header-searchbar-button{
        width: 0px;
        height: 0px;
        border: none;
        background-color: transparent
    }
    .header-searchbar-glass{
        width: 1.3rem;
        position: relative;
        left: -7rem;
        top: 0.4rem;
    }
    .header-searchbar-glass:hover{
        cursor: pointer;
    }
}

/*! Partie logo login et burger-menu !*/

.header-login-menu-container{
    display: flex;
    align-items: center;
}

.header-burger-menu-button{
    border: none;
}

.header-login-menu{
    width: 2.2rem;
    margin-right: 1rem;
}

.header-burger-menu{
    width: 3rem;
    margin-right: 1rem;
}

/*! Partie : menu !*/

.menu-container{
    position: absolute;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 25px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    top: 5rem;
    right: 0rem;
    width: 20rem;
    height: 60rem;
}

.menu-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.menu-logo-oCoffee{
    width: 3rem; 
    background-color: var(--third-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;  
}

.menu-title-oCoffee{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 1rem;
}

.cross {
    font-size: 1.5rem;
    font-weight: bold;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    color: var(--fourth-color);
}
.cross:hover {
    cursor: pointer;
    color: var(--main-color);
}

.menu-searchbar-container{
    padding-left: 1.5rem;
    padding-top: 3rem;
}

.menu-searchbar{
    background-color: aliceblue;
}

.menu-searchbar-button{}

.menu-link {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    padding-left: 0rem;
    position: relative;
    top: 2.5rem;
    text-decoration: none;
    color: var(--main-color);
    line-height: 5rem;
    border-top: 1px solid var(--main-color);
    color: var(--main-color);
    background-image: linear-gradient(
        to left,
        transparent,
        transparent 50%,
        var(--third-color) 50%,
        var(--third-color)
    );
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.25s ease-in;
}
.menu-link:hover {
    background-position: 0 0;
    color: var(--secondary-color);
}

.marker-menu-link{
    width: .5rem;
    background-color: var(--third-color);
    left: 0px;
    margin-right: 1.4rem;
}

.coffee-beam{
    width: 30px;
    margin-right: 1.5rem;
}





/*! hidden-menu doit rester à la fin du script !*/
.hidden-menu{
    display: none;
}