:root{
    --main-color: #3e1e04;
    --secondary-color: #f7dbb9;
    --third-color: #4c5f1a;
    --fourth-color: #a3734f;
    font-family: sans-serif;  
}

body{
    background-color: var(--secondary-color);
}