:root{
    --main-color: #3e1e04;
    --secondary-color: #f7dbb9;
    --third-color: #4c5f1a;
    --fourth-color: #a3734f;
    font-family: sans-serif;  
}

body{
    background-color: var(--secondary-color);
    background-image: url("../images/images-background/planche.jpg");
    background-size: 100%;
    background-attachment: fixed;
    
}

strong{
    font-weight: bold;
}

.primary-container{
    padding-top: 1rem;
}

.primary-container-error{
    justify-self: center;
}
.text-error{
    justify-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--main-color);
}

/*! Partie haute : route */

.router-top-container{
    margin-top: 0rem;
    margin-left: 20%;
}

.router-top{
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.router-arrow{
    width: .8rem;
    rotate: -90deg;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-top: 6.5rem;
}

/*! Partie : */