.product-container{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    /* background-image: url("../images/images-background/tissus-lin2.jpg");
    border-radius: 25px;
    padding-top: 3rem;
    padding-bottom: 3rem; */
}

.product-card-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: var(--main-color);
    width: 800px;
    margin-left: 3rem;
    border-left: solid 2px rgb(126, 116, 116);
    padding-left: 1rem;
}

.product-img{
    width: 35%;
    align-self: flex-start;
    border-radius: 25px;
}

.product-title-date-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.card-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-date-ref-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.product-date{
   margin-right: 1.5rem;
}

.product-ref{
   
}

.card-origine, .card-carac, .cart-description, .card-price, .card-dispo,.card-conditionnemennt{
    margin: .5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
    margin-top: .5rem;
    font-size: 1rem; 
    line-height: 1.8rem;  
    text-align: justify; 
}

.card-price-dispo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc{
    align-self: center;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.card-cart-text{
    text-decoration: none;
    color: var(--main-color);
}


/*! Partie quantité container !*/

.card-qty-container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*! Partie quantité +/- !*/

.qty-container{
    width: 100%;
}

.qty-input-container{
    width: 7rem;
    height: 2rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding-left: .5rem;
    padding-right: .5rem;
}

.qty-input-btn{
    height: 2rem;
    font-weight: bold;
    background: none;
    border: none;
}

.btn-minus{
    border-right: 1px solid var(--main-color);
    padding-right: 1rem;
    cursor: pointer;
}
.btn-plus{
    border-left: 1px solid var(--main-color);
    padding-left: 1rem;
    cursor: pointer;
}

.qty-input{
    height: 2rem;
    width: 100%;
    font-weight: bold;
    justify-items: center;
    background: none;
    border: none;
}

/*! Partie ajout au panier +/- !*/

.card-add_to_cart-container{
    height: 2rem;
}

.card-add_to_cart-btn{
    font-weight: bold;
    width: 15rem;
    height: 106%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
}
.card-add_to_cart-btn:hover{
    background-color: var(--third-color);
    color: var(--secondary-color);
    cursor: pointer;
}