<footer>
    <!--! Partie fleche haut de page -->
    <div class="arrow-up-container">
        <a href="#top" class="arrow-up" ><img class="arrow-up" src="/images/arrow-up.svg" alt="fleche"></a>
        <a href="#top" class="arrow-up-text">Haut de page</a>
    </div>
    
    <!--! Partie titre & logo -->
    <div class="footer-title-container">
        <div class="row"></div>
        <div class="footer-title">o'C</div>
        <a href="/"><img class="footer-logo" alt="logo" src="/images/logo/logo.svg"></a>
        <div class="footer-title">ffee</div>
        <div class="row"></div>
    </div>

    <div class="footer-body-container">
        <!--! Partie réseau sociaux -->
        <div class="footer-link footer-link-container">
        <div class="footer-subtitle">Suivez-nous</div>
            <div class="footer-logo-container">

                <a href="https://www.facebook.com/PetitePauseCoffee/" target="_blank">
                    <svg class="footer-logo-follow" id="logo-facebook" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 1280.000000 1275.000000" preserveAspectRatio="xMidYMid meet"><metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata><g transform="translate(0.000000,1275.000000) scale(0.100000,-0.100000)" fill="var(--main-color)" stroke="none"><path d="M1280 12735 c-308 -46 -560 -186 -772 -430 -185 -211 -338 -501 -459 -868 l-49 -149 3 -5006 2 -5007 23 -97 c62 -271 169 -458 366 -645 52 -49 136 -117 188 -152 207 -140 529 -272 851 -350 l127 -31 4983 3 4982 2 100 23 c595 137 971 631 1154 1516 l21 99 0 4776 0 4776 -25 105 c-191 788 -547 1255 -1068 1400 -189 53 100 50 -5320 49 -3998 -1 -5039 -4 -5107 -14z m8855 -1376 c39 -22 60 -46 74 -88 8 -24 11 -211 11 -634 0 -586 -1 -602 -21 -643 -15 -31 -32 -48 -63 -63 -41 -20 -58 -21 -485 -21 l-443 0 -61 -32 c-94 -50 -176 -137 -225 -238 -68 -139 -76 -203 -77 -575 0 -311 1 -321 22 -361 14 -26 36 -48 60 -60 36 -18 74 -19 666 -22 l627 -3 0 -594 0 -595 -618 0 -618 0 -44 -22 c-34 -18 -51 -35 -70 -73 l-25 -49 -3 -2908 -2 -2908 -943 0 c-897 0 -944 1 -983 19 -25 12 -50 33 -65 57 l-24 39 -3 2923 -2 2922 -600 0 -600 0 0 524 c0 347 4 534 11 553 13 35 45 70 84 91 26 15 88 18 505 22 377 4 480 8 500 19 37 20 71 53 83 81 7 16 13 170 18 415 4 276 11 425 23 510 55 399 163 713 333 970 92 139 283 329 423 421 292 194 645 302 1090 333 63 5 408 8 765 7 583 -1 653 -3 680 -17z"/></g></svg>
                </a>
                
                <a href="https://fr.pinterest.com/search/pins/?creative_id=683855900147_kwd-10335610&gad_source=1&gclid=CjwKCAiArva5BhBiEiwA-oTnXTpo01svOwycinFi8GiXci4s9mIXlzPZZYNweV46ETVgO3zThlCV7xoChZ4QAvD_BwE&q=caf%C3%A9&utm_medium=paid_search&utm_pai=20147694673_164948142708_683855900147&utm_source=google_search&utm_term=caf%C3%A9" target="_blank">
                    <svg id="logo-pinterest" class="footer-logo-follow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet"><metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata><g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="var(--main-color)" stroke="none"><path d="M2479 12009 c-87 -13 -312 -66 -397 -95 -284 -94 -596 -324 -786 -578 -177 -236 -246 -384 -311 -666 -19 -80 -39 -189 -44 -242 -15 -133 -15 -7896 -1 -8022 24 -209 99 -472 179 -630 105 -206 294 -437 466 -571 230 -179 389 -258 654 -325 258 -65 -91 -60 4296 -60 4372 0 4031 -5 4290 59 230 57 372 121 569 259 234 164 428 390 556 647 92 185 158 422 180 647 7 69 10 1412 7 4058 -3 3717 -4 3960 -20 4040 -73 350 -141 521 -304 752 -104 149 -224 273 -364 377 -217 163 -371 237 -609 297 -279 69 80 64 -4320 63 -2192 -1 -4010 -5 -4041 -10z m7354 -1429 c260 -30 537 -213 677 -448 57 -97 107 -225 120 -307 7 -49 10 -1075 8 -3425 l-3 -3355 -29 -75 c-102 -269 -258 -450 -481 -560 -123 -60 -177 -78 -274 -91 -50 -6 -1237 -9 -3401 -7 l-3325 3 -104 37 c-304 109 -510 316 -618 623 l-28 80 0 3390 0 3390 23 70 c57 169 135 295 254 411 91 89 164 140 272 189 101 45 166 65 244 75 103 12 6560 12 6665 0z"/><path d="M6475 9364 c-27 -2 -108 -9 -180 -14 -929 -77 -1767 -745 -1994 -1592 -54 -203 -65 -298 -65 -573 0 -227 2 -275 22 -380 12 -66 30 -142 38 -170 76 -245 203 -432 377 -555 100 -72 297 -156 405 -175 58 -9 82 9 120 87 58 120 77 194 76 303 0 133 -17 181 -141 395 -78 134 -102 205 -114 344 -40 438 116 844 453 1178 241 238 557 399 923 469 107 21 399 18 505 -5 242 -52 443 -151 619 -305 155 -136 266 -325 326 -556 12 -46 17 -75 45 -256 13 -85 13 -346 0 -446 -35 -262 -51 -337 -111 -516 -146 -435 -394 -726 -691 -811 -75 -21 -259 -22 -341 0 -64 16 -158 61 -192 91 -76 68 -105 147 -105 286 0 135 27 276 90 482 12 39 25 84 30 100 4 17 33 111 65 210 143 455 162 702 70 886 -75 147 -246 244 -452 256 -168 10 -297 -37 -424 -155 -207 -191 -319 -489 -319 -847 0 -196 24 -328 84 -459 26 -57 26 -58 11 -129 -20 -96 -66 -286 -103 -427 -28 -107 -38 -145 -93 -347 -190 -708 -259 -1140 -259 -1628 0 -205 17 -470 36 -563 9 -43 44 -67 85 -58 34 6 157 105 229 182 195 211 338 465 460 820 70 204 147 500 206 797 9 48 20 87 24 87 3 0 47 -28 96 -62 167 -118 256 -166 373 -205 305 -100 733 -59 1066 102 253 122 508 346 672 590 367 546 519 1280 407 1965 -83 502 -357 919 -799 1214 -294 197 -714 338 -1115 375 -127 12 -347 20 -415 15z"/></g></svg>
                </a>
                
                
                
                <a href="https://www.youtube.com/@OclockIo" target="_blank">
                    <svg class="footer-logo-follow" id="logo-youtube" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 1280.000000 422.000000" preserveAspectRatio="xMidYMid meet"><metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata><g transform="translate(0.000000,422.000000) scale(0.100000,-0.100000)" fill="var(--main-color)" stroke="none"><path d="M7881 4209 c-1045 -21 -1537 -46 -1772 -89 -177 -33 -262 -69 -394 -167 -268 -198 -363 -444 -416 -1063 -16 -198 -23 -1089 -10 -1380 23 -502 65 -738 173 -955 163 -328 387 -445 958 -499 462 -45 1393 -60 3110 -53 2309 11 2571 37 2868 291 262 224 344 517 393 1401 24 429 -13 1291 -68 1580 -35 186 -133 433 -213 533 -120 153 -374 288 -600 321 -484 69 -2539 110 -4029 80z m-401 -889 l0 -200 -280 0 -280 0 0 -1165 0 -1165 -260 0 -260 0 0 1165 0 1165 -260 0 -260 0 0 200 0 200 800 0 800 0 0 -200z m2100 -225 c0 -234 2 -425 5 -425 2 0 35 20 72 44 261 168 477 193 636 72 56 -42 122 -142 147 -224 30 -94 39 -331 40 -967 l0 -521 -47 -82 c-85 -146 -159 -202 -298 -221 -166 -24 -349 33 -495 154 l-55 45 -3 -90 -3 -90 -234 0 -235 0 0 1365 0 1365 235 0 235 0 0 -425z m2095 -262 c116 -24 249 -95 326 -172 68 -68 101 -121 124 -200 42 -141 66 -397 58 -592 l-6 -116 -210 -6 c-116 -4 -318 -7 -449 -7 l-239 0 3 -252 c3 -286 5 -291 80 -348 41 -30 46 -32 118 -28 145 9 173 46 192 257 l12 131 247 0 247 0 -5 -87 c-8 -155 -31 -284 -60 -341 -16 -32 -57 -82 -103 -126 -149 -142 -283 -182 -575 -173 -244 8 -323 38 -465 173 -89 86 -139 164 -157 248 -7 33 -18 184 -25 334 -14 307 0 762 26 885 69 317 457 506 861 420z m-3795 -405 c0 -384 15 -999 28 -1208 l7 -105 58 -3 c68 -4 101 13 210 102 l67 56 0 775 0 775 245 0 245 0 0 -1015 0 -1015 -244 0 -243 0 -6 86 c-2 47 -7 88 -11 91 -3 3 -49 -26 -103 -65 -168 -120 -223 -137 -404 -130 -128 5 -189 25 -247 81 -41 40 -58 98 -72 247 -9 90 -20 748 -30 1693 l0 27 250 0 250 0 0 -392z"/><path d="M9915 2453 c-11 -3 -53 -19 -93 -35 l-74 -31 4 -596 c3 -526 5 -600 20 -633 32 -70 153 -114 248 -88 78 21 98 51 121 189 19 113 28 444 18 701 -11 292 -22 403 -45 437 -30 47 -126 74 -199 56z"/><path d="M11505 2500 c-58 -10 -98 -47 -114 -107 -6 -21 -11 -107 -11 -190 l0 -153 196 0 196 0 -4 168 c-4 187 -17 232 -73 263 -38 21 -125 30 -190 19z"/><path d="M55 3633 c-22 -2 -44 -8 -48 -12 -4 -4 45 -140 109 -302 125 -316 326 -838 430 -1115 l64 -171 0 -566 0 -567 243 0 244 0 6 332 c4 182 7 442 7 576 l0 245 141 356 c270 680 459 1177 459 1206 0 13 -31 15 -245 15 -222 0 -245 -2 -253 -17 -5 -10 -80 -236 -167 -503 -86 -267 -163 -496 -170 -509 -12 -24 -13 -23 -34 35 -45 120 -137 387 -236 689 l-102 310 -204 1 c-112 0 -222 -1 -244 -3z"/><path d="M2241 2920 c-247 -52 -416 -205 -456 -412 -50 -267 -56 -990 -9 -1188 54 -231 235 -402 474 -446 130 -25 320 -15 425 20 197 67 333 196 385 364 29 94 44 394 36 729 -7 308 -19 463 -42 543 -53 187 -195 321 -399 376 -70 19 -345 28 -414 14z m309 -349 c70 -50 75 -100 75 -733 0 -539 0 -547 -21 -575 -31 -42 -125 -85 -184 -85 -56 1 -74 9 -149 65 l-53 41 5 586 c3 391 8 597 16 621 15 49 59 88 112 99 63 13 169 3 199 -19z"/><path d="M3567 2308 c4 -659 17 -1162 33 -1258 6 -36 21 -85 33 -110 20 -38 34 -51 99 -84 69 -35 83 -39 155 -39 144 0 293 63 475 200 31 24 59 43 62 43 3 0 6 -52 6 -115 l0 -115 233 2 232 3 3 1028 2 1027 -235 0 -235 0 0 -788 0 -789 -77 -62 c-96 -78 -165 -114 -220 -115 -53 -1 -73 18 -85 81 -5 26 -11 414 -15 861 l-6 812 -232 0 -232 0 4 -582z"/></g></svg>
                </a>
                
                
                
                <a href="https://www.instagram.com/cafeapics/?hl=fr" target="_blank">
                    <svg id="logo-instagram" class="footer-logo-follow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet"><metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata><g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="var(--main-color)" stroke="none"><path d="M3035 12789 c-144 -13 -390 -55 -540 -94 -1169 -301 -2089 -1221 -2390 -2390 -40 -157 -81 -397 -95 -560 -6 -78 -10 -1256 -10 -3346 0 -3508 -2 -3362 55 -3675 157 -855 646 -1617 1358 -2118 498 -350 1058 -549 1677 -596 214 -16 6632 -9 6750 8 576 82 1009 238 1444 519 193 125 323 230 509 413 320 312 548 637 722 1033 134 302 211 587 267 977 17 118 24 6536 8 6750 -45 585 -225 1118 -541 1595 -503 760 -1282 1276 -2173 1440 -313 57 -163 55 -3695 54 -1785 -1 -3291 -6 -3346 -10z m6705 -1099 c927 -114 1678 -775 1905 -1675 69 -274 65 -29 65 -3620 0 -2856 -2 -3258 -15 -3362 -50 -379 -194 -738 -423 -1047 -96 -130 -328 -362 -458 -458 -309 -229 -668 -373 -1047 -423 -104 -13 -506 -15 -3362 -15 -3591 0 -3346 -4 -3620 65 -903 228 -1571 990 -1675 1914 -8 68 -10 1065 -8 3386 l3 3290 28 138 c162 811 724 1453 1494 1707 132 43 345 91 463 103 91 10 6571 6 6650 -3z"/><path d="M9785 10656 c-278 -65 -491 -272 -559 -547 -23 -93 -21 -255 4 -353 110 -432 583 -666 995 -493 111 46 253 160 316 253 175 258 173 598 -6 849 -89 125 -211 215 -362 268 -75 26 -106 30 -208 33 -78 3 -141 -1 -180 -10z"/><path d="M6195 9574 c-786 -62 -1494 -384 -2039 -930 -504 -503 -813 -1135 -913 -1864 -24 -177 -24 -596 1 -775 71 -521 231 -950 511 -1370 436 -655 1087 -1123 1837 -1320 470 -123 982 -137 1457 -39 612 126 1160 422 1606 869 507 507 815 1133 912 1855 22 167 25 590 5 750 -94 744 -404 1383 -922 1900 -500 499 -1139 811 -1855 905 -114 16 -494 27 -600 19z m400 -975 c428 -36 853 -207 1195 -479 113 -91 299 -283 386 -400 224 -300 361 -628 421 -1005 24 -154 24 -487 0 -644 -152 -971 -897 -1716 -1868 -1868 -153 -24 -499 -24 -647 0 -732 118 -1341 565 -1662 1220 -332 676 -298 1470 91 2114 177 292 460 575 752 752 399 241 869 350 1332 310z"/></g></svg>
                   </a>
                
                
                
                <a href="https://www.linkedin.com/in/matthieu-dimier-a51539290" target="_blank">
                    <svg id="logo-linkedin" class="footer-logo-follow" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" focusable="false" viewBox="0 0 12 12"><path fill="var(--main-color)" d="M11 0a1 1 0 01.993.883L12 1v10a1 1 0 01-.883.993L11 12H1a1 1 0 01-.993-.883L0 11V1A1 1 0 01.883.007L1 0h10zm0 1H1v10h10V1zM7.742 4.63c1.502 0 1.78.988 1.78 2.273L9.52 9.52H8.04L8.037 7c-.01-.51-.098-1.065-.769-1.065-.723 0-.872.53-.888 1.109L6.378 9.52H4.897V4.75h1.422v.65h.02a1.56 1.56 0 011.403-.771zm-3.776.119V9.52H2.482V4.749h1 484zm-.741-2.372a.86.86 0 110 1.72.86.86 0 010-1.72z"/></svg>
                </a>
            
            
            
            </div>
            
        </div>
        <!--! Partie carte interactive -->
        <div class="map-container">
            <a href="https://www.google.fr/maps/place/34370+Cazouls-l%C3%A8s-B%C3%A9ziers/@43.3971732,3.0509919,13z/data=!3m1!4b1!4m6!3m5!1s0x12b10a76dde1c5b7:0x42b4bd28660048d9!8m2!3d43.3923968!4d3.1022545!16s%2Fm%2F03mgp_4?entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D"  class="footer-link footer-where footer-subtitle" target="_blank">Ou nous trouver</a>
            <div id="map"></div>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script>
                // Initialisation de la carte

                var map = L.map('map').setView([43.39145, 3.10261], 13);
                var marker = L.marker([43.39145, 3.10261]).addTo(map);
        
                // Ajouter un fond de carte avec OpenStreetMap
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
            </script>   
        </div>

        <!--! Partie contact & obligations -->
        <div class="footer-link footer-link-container">
            <div class="footer-subtitle">Contact</div>
            <a class="footer-link-contact" href="mailto:dimier.matt@gmail.com?subject=Bonjour%20Matthieu,%20je%20vous%20contacte%20au%20sujet%20de%20...&body=Salut%20Matthieu," target="_blank">dimier.matt@gmail.com</a>
            <a class="footer-link-contact" href="https://www.google.fr/maps/place/34370+Cazouls-l%C3%A8s-B%C3%A9ziers/@43.3971732,3.0509919,13z/data=!3m1!4b1!4m6!3m5!1s0x12b10a76dde1c5b7:0x42b4bd28660048d9!8m2!3d43.3923968!4d3.1022545!16s%2Fm%2F03mgp_4?entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">34370 Cazouls-les-Béziers</a>
            <a class="footer-link-contact" href="/mentions-legales">mentions légales</a>
            <a class="footer-link-contact" href="/cgv">CGV</a>
            <a class="footer-link-contact" href="/error">Plan du site</a>
        </div>
    </div>
    

    <div class="footer-copyright">© Copyright 2024. Tous droits réservés.</div>

</footer>

</body>
</html>