<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oCoffee</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css"> 
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/script-header.js" defer></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="">
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
      defer>
    </script> 
</head>
<body>
    <header>
        <div class="header-container-with-menu">
            <div class="header-container">
                <!--! Partie titre & logo -->
                <div class="header-title-container">
                    <a href="/" ><img class="header-logo-oCoffee" src="/images/logo/logo.svg" alt="logo-oCoffee"></a>
                    <a href="/" class="header-title-oCoffee">o'Coffee</a>
                </div>

                <% if (locals.user) { %>
                    <p class="username">Bienvenue <%= locals.user.firstname %></p>
                <% } %>

                <div class="searchbar-and-menu-container">
                    <!--! Partie searchbar -->
                    <div>
                        <form method="GET" action="/produit/">
                            <label for="header-searchbar"></label>
                            <div class="header-searchbar-container">
                                <input name="header-searchbar" type="text" id="header-searchbar" class="header-searchbar" placeholder="Vous cherchez un café ?">
                                <button type="submit" class="header-searchbar-button"><img class="header-searchbar-glass" alt="loupe" src="/images/logo/loupe-main-color.svg"></button>
                            </div>
                        </form>
                    </div>
                    
                    <!--! Partie logo login, panier et burger-menu -->

                    
                    <div class="header-login-menu-container">
                        <div class="cart-container">
                            <div class="articles-cart">0</div>
                            <a href="/panier" class="header-cart-menu-button"><img class="cart-menu" alt="menu" src="/images/logo/trolley-main-color.svg"></a>
                        </div>

                        <div class="">
                            <a href="/compte" class="header-login-menu-button"><img class="header-login-menu" alt="menu" src="/images/logo/login-main-color.svg"></a>
                        </div>

                        <div class="header-burger-menu-container">
                            <a href="#" class="header-burger-menu-button"><img class="header-burger-menu" alt="menu" src="/images/logo/burger-menu-main-color.svg"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--! Partie menu droite caché -->
            <div class="menu-container hidden-menu">
                <div class="menu-title-container">
                    <div class="cross">X</div>
                    <a href="/"><img class="menu-logo-oCoffee" src="/images/logo/logo.svg" alt="logo-oCoffee"></a>
                    <a href="/" class="menu-title-oCoffee">o'Coffee</a>
                </div>

                <div>
                    <form method="GET" action="/produit/">
                        <label for="header-searchbar"></label>
                        <div class="header-searchbar-container menu-searchbar-container">
                            <input type="text" name="header-searchbar" class="header-searchbar menu-searchbar" placeholder="Un café vous ferais plaisir ?">
                            <button type="submit" class="header-searchbar-button menu-searchbar-button"><img class="header-searchbar-glass" alt="loupe" src="/images/logo/loupe-main-color.svg"></button>
                        </div>
                    </form>
                </div>

                <div class="menu-options-container" >
                    <div class="menu-link-container" >
                        <a href="/" class="menu-link">
                            <div class="marker-menu-link"></div>
                            <img class="coffee-beam" src="/images/logo/grain-cafe.svg" alt="logo-coffee">
                            Accueil
                        </a>
                
                        <a href="/catalogue" class="menu-link">
                            <div class="marker-menu-link"></div>
                            <img class="coffee-beam" src="/images/logo/grain-cafe.svg" alt="logo-coffee">
                            Catalogue
                        </a>
                
                        <a href="/produit" class="menu-link last">
                            <div class="marker-menu-link"></div>
                            <img class="coffee-beam" src="/images/logo/grain-cafe.svg" alt="logo-coffee">
                            Produit
                        </a>
                    </div>
                    <div class="menu-option-container">
                        <a href="#" class="menu-link darkmode-btn">
                            <div class="marker-menu-link-dark"></div>
                            <img class="coffee-beam" src="/images/logo/grain-cafe.svg" alt="logo-coffee">
                            Mode sombre
                        </a>

                        <a href="#" class="menu-link disconnection">
                            <div class="marker-menu-link"></div>
                            <img class="coffee-beam" src="/images/logo/grain-cafe.svg" alt="logo-coffee">
                            Déconnexion
                        </a>
                    </div>
                </div>
            </div>
        </div>   
    </header>