<%- include('partials/header') %>

<div class="router-top-container">
    <a href="/" class="router-top">Accueil</a><img src="/images/arrow-up.svg" alt="arrow" class="router-arrow"><a href="/catalogue" class="router-top">Retour au catalogue</a>
</div>

<div class="primary-container primary-container-404">
    <p class="text-404">Désolé cette page n'existe pas !!</p>
    <img src="/images/error-coffee.jpg" alt="img-error" class="img-error-404">
</div>

<%- include('partials/footer') %>