<%- include('partials/header') %>
<link rel="stylesheet" href="/css/cart.css">

    <main>
        <div class="cart-route-img-container">
            <div class="router-top-container">
                <a href="/" class="router-top">Accueil</a><img src="/images/arrow-up.svg" alt="arrow" class="router-arrow"><a href="/catalogue" class="router-top">Catalogue</a>
            </div>

            <div class="cart-container-body">
                <p class="cart-container">Page en cours de développement !</p>
                <img class="cart-img-coffee" src="/images/imageCoffee.png" alt="image-café">
                <p class="cart-container">Vous pouvez vider votre panier<a href="/vidange" class="empty-cart"> ici </a></p>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>


