<%- include('partials/header') %>
<link rel="stylesheet" href="/css/support.css">

    <main>
        <div class="mentions-container">
            <div class="router-top-container">
                <a href="/" class="router-top">Accueil</a><img src="/images/arrow-up.svg" alt="arrow" class="router-arrow"><a href="/support" class="router-top">Support</a><img src="/images/arrow-up.svg" alt="arrow" class="router-arrow"><a href="/cgv" class="router-top">Conditions générales de ventes</a>
            </div>
            <div class="mentions-text">
                               
                <p class="mentions-title" >Conditions Générales de Vente :</p>

                    <p>1. Objet :</br>
                    Les présentes Conditions Générales de Vente (CGV) régissent toutes les commandes</br>
                    passées sur le site [Nom du site] par toute personne souhaitant acheter un produit </br>
                    ou service proposé.</br></p>

                    <p>2. Identification de l'entreprise :</br>
                    Raison sociale : [Nom de l'entreprise]</br>
                    Adresse : [Adresse complète]</br>
                    Numéro RCS : [Numéro]</br>
                    Contact : [E-mail de contact]</br></p>
                    
                    <p>3. Prix :</br>
                    Les prix sont indiqués en [devise], toutes taxes comprises (TTC), hors frais de livraison.</br></p>
                    
                    <p>4. Commandes :</br>
                    Les commandes sont passées par le biais du site internet. Une fois la commande validée, un </br>email de confirmation est envoyé.</p>
                    
                    <p>5. Paiement :</br>
                    Le paiement se fait par [moyens de paiement] et doit être effectué avant la livraison.</br></p>
                    
                    <p>6. Livraison :</br>
                    Les produits sont livrés à l’adresse fournie. Les délais de livraison sont de [nombre] jours.</br></p>
                    
                    <p>7. Droit de rétractation :</br>
                    Le Client bénéficie d'un droit de rétractation de 14 jours à compter de la réception des </br>produits.</p>
                    
                    <p>8. Garantie légale :</br>
                    Les produits sont garantis contre les défauts de conformité et les vices cachés conformément</br> à la loi.</p>
                    
                    <p>9. Responsabilité :</br>
                    Le Vendeur ne peut être tenu responsable des dommages indirects liés à l'utilisation des </br>produits.</p>
                    
                    <p>10. Propriété intellectuelle</br>
                    Les contenus du site sont protégés par des droits d’auteur.</p>
                    
                    <p>11. sProtection des données</br>
                    Les informations collectées sont traitées conformément à notre politique de confidentialité.</p>
     
            </div>
        </div>
    </main>
<%- include('partials/footer') %>


