<%- include('partials/header') %>
<link rel="stylesheet" href="/css/support.css">

    <main>
        <div class="mentions-container">
            <div class="router-top-container">
                <a href="/" class="router-top">Accueil</a><img src="/images/arrow-up.svg" alt="arrow" class="router-arrow"><a href="/support" class="router-top">Support</a>
            </div>
            <div class="mentions-text">
                               
                <p class="mentions-title" >Mentions légales :</p>

                <p>Éditeur du site :</br>
                Nom ou raison sociale : [Nom de l'entreprise]</br>
                Siège social : [Adresse complète]</br>
                Numéro de téléphone : [Numéro]</br>
                E-mail : [E-mail]</br>
                Numéro RCS : [Numéro de RCS]</br>
                Capital social : [Montant]</p>

                <p>Directeur de la publication :</br>
                Nom : [Nom du responsable]</br>
                Fonction : [Titre du responsable]</br></p>

                <p>Hébergeur :</br>
                Nom de l’hébergeur : [Nom de l'hébergeur]</br>
                Adresse : [Adresse complète]</br>
                Numéro de téléphone : [Numéro]</br></p>

                <p>Propriété intellectuelle :</br>
                Les contenus présents sur ce site (textes, images, logos, etc.) sont la propriété exclusive de [Nom de</br> l'entreprise] et sont protégés par les lois sur la propriété intellectuelle.</br></p>

                <p>Données personnelles :</br>
                Conformément au Règlement Général sur la Protection des Données (RGPD), [Nom de l'entreprise] recueille</br> certaines données personnelles. L'utilisateur dispose d'un droit d'accès, de rectification et </br>d'effacement des données le concernant.</br></p>

                <p>Cookies :</br>
                Le site utilise des cookies pour améliorer l’expérience utilisateur. En poursuivant votre navigation </br>sur ce site, vous acceptez leur utilisation.</br></p>

                <p>Médiation :</br>
                En cas de litige, vous pouvez contacter un médiateur agréé pour résoudre le conflit.</br></p> 
     
            </div>
        </div>
    </main>
<%- include('partials/footer') %>


