<%- include('partials/header') %>
<link rel="stylesheet" href="/css/catalog.css">

    <main>
        
                <!-- card -->
                <div class="catalog-card">
                    <a href="/product/" class="catalog-card-link">
                        <div class="card-container">
                            <img src="/images/cafe-database/Espresso.jpg" alt="img-Espresso" class="card-img">
                            <h3 class="card-title">Espresso</h3>
                            <p class="card-origine"><strong>Origine : </strong>Italie</p>
                            <p class="card-carac"><strong>Caractéristique : </strong>Corsé</p>
                        </div>
                    </a> 
                </div>
                
        
    </main>
  
<%- include('partials/footer') %>