<%- include('partials/header') %>
<link rel="stylesheet" href="/css/support.css">

    <main>
        <div class="router-top-container-support">
            <a href="/" class="router-top">Accueil</a><img src="/images/arrow-up.svg" alt="arrow" class="router-arrow"><a href="/support" class="router-top">Support</a>
        </div>
        <div class="support-container">
            <ul class="support-ul">
                <a href="/mentions-legales" class="support-li">Mentions légales</a>
                <a href="/cgv" class="support-li">CGV</a>
                <a href="/sitemap" class="support-li">Plan du site</a>
            </ul>        
        </div>
    </main>
<%- include('partials/footer') %>


